asgiref==3.10.0
Django==5.1.2
django-stubs==5.2.7
django-stubs-ext==5.2.7
iniconfig==2.3.0
packaging==25.0
pluggy==1.6.0
pytest==8.3.3
pytest-django==4.9.0
sqlparse==0.5.3
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
django-browser-reload==1.16.0