<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Party!</title>
    <script src="{% static '/party/js/htmx.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/party/js/alpine.min.js' %}" type="text/javascript"></script>
    <link href="{% static '/party/css/tailwind_output.css' %}" rel="stylesheet">
</head>
<body class="bg-custom-powder-light">
<nav class="bg-custom-red">
    <a class="inline-block p-4 text-custom-powder-light font-dancing-script text-2xl"
       href="/">
        My Parties
    </a>
</nav>
<main class="container p-5 m-auto">
    {%block content%}
    {%endblock%}
</main>
</body>
</html>